# frozen_string_literal: true
source 'https://rubygems.org'

ruby '>= 3.4.0'

gem 'rake'
gem 'opal-homura', '= <%= opal_version %>', require: 'opal'
gem 'homura-runtime', '= <%= runtime_version %>'
gem 'sinatra-homura', '= <%= sinatra_version %>'
<% if with_db -%>
gem 'sequel-d1', '= <%= sequel_version %>'
gem 'sequel', '~> 5.0'
gem 'sqlite3', '>= 2.0'
<% end -%>
