# frozen_string_literal: true

require 'rake/clean'

task default: :build

CLEAN.include(
  'build/app_assets.rb',
  'build/app_templates.rb',
  'build/hello.no-exit.mjs',
  'build/opal.stderr.log',
  'worker.entrypoint.mjs'
)

def run!(*argv)
  ok = system(*argv)
  exit 1 unless ok
end

desc 'Opal + Workers bundle'
task :build do
  run!(
    'bundle', 'exec', 'homura', 'build', '--standalone'<%= ", '--with-db'" if with_db %>
  )
end

desc 'Start local Wrangler dev server'
task dev: :build do
  run!('npx', 'wrangler', 'dev', '--local', '--port', '8787', '--ip', '127.0.0.1')
end

desc 'Deploy the current app'
task deploy: :build do
  run!('npx', 'wrangler', 'deploy')
end
