<form id="todo-form" data-controller="todoform" action="/todos" method="post" data-turbo-frame="_top">
  <input name="title" required placeholder="新しいTODO">
  <button type="submit">追加</button>
</form>
