<!doctype html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Inertia × homura Todo</title>
<%= HomuraAssets.tag_for('/assets/inertia-app.css') if defined?(HomuraAssets) && HomuraAssets.respond_to?(:tag_for) %>
<link rel="stylesheet" href="/assets/inertia-app.css">
</head>
<body>
<div id="app" data-page="<%= @page_json %>"></div>
<script type="module" src="/assets/inertia-app.js"></script>
</body>
</html>
